version: '3'

services:
  subte:
    build: ./subte/subte-microservice
    ports:
      - '8082:8082'
    container_name: subte
    extra_hosts:
      - "subte:127.0.0.1"
    environment:
      spring.datasource.url: jdbc:postgresql://db:5432/subte?ApplicationName=subte
      spring.datasource.username: subte0us3r
      spring.datasource.password: passw0rdsubt3
      spring.kafka.bootstrap-servers: kafka:9092
    depends_on:
      - db
      - kafka

  telegram:
    build: ./telegram/telegram-microservice
    ports:
      - '8080:8080'
    restart: unless-stopped
    extra_hosts:
      - "telegram:127.0.0.1"
    container_name: telegram
    environment:
      ar.vicria.adapter.telegram.botUserName: subte_arg_bot
      ar.vicria.adapter.telegram.botToken:
      ar.vicria.adapter.telegram.subteGet: 'http://subte:8082/stations/all'
      spring.kafka.bootstrap-servers: kafka:9092
      logging.level.root: INFO
    depends_on:
      - subte
      - kafka

  db:
    image: postgres:15
    container_name: db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: subte0us3r
      POSTGRES_PASSWORD: passw0rdsubt3
      # имя БД
      POSTGRES_DB: subte
      POSTGRES_SCHEMA: subte_bot
      STOP_ON_MIGRATION_FAILURE: "false"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: PGPASSWORD=passw0rdsubt3 psql -d subte -U subte0us3r -w -c '\q'
      interval: 20s
      timeout: 10s

  # Kafka ---------------------------------------------------------------------
  zookeeper:
    image: zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    volumes:
      - zookeeper-data:/opt/zookeeper-3.4.13/data

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    ports:
      # To learn about configuring Kafka for access across networks see
      # https://www.confluent.io/blog/kafka-client-cannot-connect-to-broker-on-aws-on-docker-etc/
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    healthcheck:
      test: [ "CMD", "nc", "-vz", "localhost", "9092" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - kafka-data:/kafka

volumes:
  db-data:
    external: false
  kafka-data:
    external: false
  zookeeper-data:
    external: false