server:
  port: 8082
  forward-headers-strategy: framework

logging.level:
  root: INFO

spring:
  banner:
    location: classpath:subte-banner.txt
  application.name: subte
  jpa:
    hibernate.ddl-auto: validate
    properties.hibernate:
      default_schema: subte_bot
      dialect: org.hibernate.dialect.PostgreSQL10Dialect
      temp.use_jdbc_metadata_defaults: false
  datasource:
    url: jdbc:postgresql://localhost:5432/subte?ApplicationName=subte
    username: postgres
    password: postgres
  flyway:
    enabled: true
    locations: classpath:db/migration/common
    baseline-on-migrate: true
    ignore-missing-migrations: false
    out-of-order: false
    schemas: subte_bot
  kafka:
    bootstrap-servers: 'kafka:9092'
    consumer:
      group-id: 'BACK'
      properties.spring.json.trusted.packages: "*"
